spring:
  timezone: Asia/Ho_Chi_Minh
  datasource:
    url: jdbc:mysql://localhost:3306/fund_management?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: huybq
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
  servlet:
    multipart:
      max-file-size: 2MB
      max-request-size: 2MB

logging:
  level:
    root: INFO
    com.huybq.fund_management: DEBUG
    org.springframework.web: INFO
    org.hibernate: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  file:
    name: logs/application.log

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha
    tryItOutEnabled: true
    filter: true
    display-request-duration: true
    persist-authorization: true
    syntax-highlight:
      activated: true
      theme: monokai

application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 604800000  # 1 hour 3600000
      refresh-token:
        expiration: 604800000 # a week

management:
  endpoints:
    web:
      exposure:
        include: health
server:
  domain:
    url-v1: http://localhost:3000
    url-v2: http://localhost:5173
  version: v1
  servlet:
    session:
      cookie:
        http-only: true
        path: /
        secure: true
        same-site: strict
chatops:
  api:
    base-url: https://chat.runsystem.vn
    token: gnuook57mfg7mgw61oxmece6ty

create-api:
    base-url: h
    auth-header:
